@font-face {
    font-family: "Terminus";
    src: url("fonts/Lat2-Terminus16.woff2") format("woff2"),
         url("fonts/Lat2-Terminus16.woff") format("woff"),
         url("fonts/Lat2-Terminus16.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Terminus", monospace;
}
